@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  position: relative;
}

.body-background {
  /* background-color: rgba(255, 255, 255, 0.99);*/
  position: absolute;
  background-color: #041730;
  background-image: url("/back.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.02;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.passphrase {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  min-height: 300px;
  min-width: 300px;
  max-width: 600px;
  width: 30vw;
  justify-content: space-between;
}

.mnemonic {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  flex: 1;
}